@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;800&family=Fraunces:wght@700;900&family=Raleway:wght@400;600&family=Roboto:wght@400;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    color: hsl(234, 29%, 20%);
}
body{
    background-color: hsl(235, 18%, 26%);
    display: flex;
    align-items: center;
    justify-content: center;
}
ul {
    list-style-type: none;
    margin-left: -40px;
}
p {
    font-size: 14px;
}
.list-text{
    display: inline;
    margin-left: 5px;
}
.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    margin-top: 5%;
}
.container2{
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
}
.content {
    padding: 15px;
    height: 600px;
}
.label-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.label{
    display: block;
    font-weight: 700;padding: 2px;
}
em {
    margin-left: 20px;
    font-style: normal;
}
input {
    margin-top: 2px;
    margin-bottom: 15px;
    width: 400px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    padding: 10px;
}
#email {
    display: inline-block;
}
.button {
    font-size: 16px;
    padding: 20px;
    margin-top: 15px;
    display: block;
    border-radius: 10px;
    border-style: none;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}
.button:hover{
    cursor: pointer;
    transition-duration: .2s;
    background: linear-gradient(90deg, rgba(253,29,94,1) 0%, rgba(252,176,69,1) 100%);
    box-shadow: 10px 10px 10px rgba(253, 29, 93, 0.493);
}
@media all and (max-width: 895px) { 
        
}